<!--==========================   Chart-card Start  ==========================-->
<div class="chart-card h-100">
    <div class="chart-card__header">
        <div class="chart-card__title">
            <p class="chart-card__title-type">Statistics</p>
            <h6 class="chart-card__title-name">Payment received.</h6>
        </div>
        <ul class="chart-card__header-list">
        </ul>
        <div class="chart-card__tab">
            <button type="button" class="chart-card__tab-item active">Day</button>
            <button type="button" class="chart-card__tab-item">Week</button>
            <button type="button" class="chart-card__tab-item">Month</button>
            <button type="button" class="chart-card__tab-item">Year</button>
        </div>
    </div>

    <div class="chart-card__body">
        <div id="apexBarChat"></div>
    </div>
</div>
<!--==========================  Chart-card End  ==========================-->