<!--==========================   Db-card Start  ==========================-->
<div class="db-card">
    <a href="" class="db-card__link"></a>
    <div class="db-card__shape">
        <i class="@@icon"></i>

    </div>
    <div class="db-card__header">
        <div class="db-card__header-icon">
            <i class="@@icon"></i>
        </div>
        <h6 class="db-card__header-title">
            @@title
        </h6>
        <div class="db-card__header-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M25.3333 4H6.66667C5.19391 4 4 5.19391 4 6.66667V25.3333C4 26.8061 5.19391 28 6.66667 28H25.3333C26.8061 28 28 26.8061 28 25.3333V6.66667C28 5.19391 26.8061 4 25.3333 4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10.667 16H21.3337" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 21.3333L21.3333 16L16 10.6667" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="db-card__body">
        <h2 class="db-card__amount">
            @@amount
        </h2>
        <p class="db-card__desc">
            Wash Services
        </p>
    </div>
</div>
<!--==========================  Db-card End  ==========================-->