<div class="service-content tab-pane fade @@if(showContent){show active}" id="@@if(id){@@id}" role="tabpanel">
    <div class="service-content__thumb">
        <img src="@@img" alt="service-thumb">
    </div>
    <div class="service-content__body">
        <h3 class="service-content__title">Shaving with a dangerous disposable razor using the classic shaving method.</h3>
        <div class="start-pricing">
            <div class="flex  start-list">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
            </div>
            <h5 class="service-content__price ">$10
                <small>Per Service</small>
            </h5>
        </div>
        <p class="service-content__desc">Great Style. Great Haircuts. Awesome Barbers. At Sublime Barbershop, we strive to create the traditional barbershop look and feel with the highest level of skill, service and style to keep you looking and feeling your best.</p>
        <!-- <h5 class="service-content__price">$10</h5> -->
        <a href="#" class="btn btn--base pill">
            <span class="text">Book Now</span>
            <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
        </a>
    </div>
</div>