<div class="col-lg-4 col-md-6">

    <div class="service-content">
        <div class="service-content__thumb">
            <img src="@@img" alt="service-thumb">
        </div>

        <div class="service-content__body">
            <h3 class="service-content__title">@@title</h3>
            <div class="start-pricing">
                <div class="flex  start-list">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <h5 class="service-content__price">@@price
                    <small>Per Service</small>
                </h5>
            </div>

            <p class="service-content__desc">@@desc</p>
            <a href="#" class="btn btn--base  w-100">
                <span class="text">Book Now</span>
                <span class="icon"><i class="fa-solid fa-arrow-right"></i></span>
            </a>
        </div>
    </div>
</div>