<div class="member-item">
    <figure class="member-item__img">
        <img src="@@image" alt="team member image">
    </figure>
    <a class="member-item__play" href="https://www.youtube.com/watch?v=9No-FiEInLA" data-fancybox>
        <i class="fas fa-play"></i>
    </a>
    <div class="member-item__content">
        <p class="member-item__desc">
            @@desc
        </p>
        <h5 class="member-item__name">@@name</h5>
        <span class="member-item__designation">@@designation</span>
    </div>
</div>