<div class="testimonial-slider__item">
    <div class="testimonial-card">
        <div class="testimonial-card__thumb">
            <img src="../../assets/images/reviewer/@@img" alt="thumb">
            <span class="quote-icon">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.16682 34.6422C7.10632 32.455 6 30 6 26.0208C6 19.0218 10.913 12.7474 18.0612 9.64648L19.8466 12.4017C13.1761 16.0109 11.8724 20.6922 11.3513 23.6442C12.4253 23.0888 13.8312 22.8934 15.2094 23.0212C18.8182 23.3556 21.6624 26.3182 21.6624 30C21.6624 33.866 18.5283 37 14.6623 37C12.5162 37 10.4639 36.0192 9.16682 34.6422ZM29.1668 34.6422C27.1064 32.455 26 30 26 26.0208C26 19.0218 30.913 12.7474 38.0612 9.64648L39.8466 12.4017C33.176 16.0109 31.8724 20.6922 31.3512 23.6442C32.4252 23.0888 33.8312 22.8934 35.2094 23.0212C38.8182 23.3556 41.6624 26.3182 41.6624 30C41.6624 33.866 38.5284 37 34.6624 37C32.5162 37 30.464 36.0192 29.1668 34.6422Z" fill="currentColor"></path>
                </svg>
            </span>
        </div>
        <div class="testimonial-card__content">
            <div class="testimonial-card__header">
                <span class="time">REVIEWED US 2 DAYS AGO</span>

                <span class="rate">
                    <i class="fa-solid fa-star"></i>
                    5.0
                </span>
            </div>
            <p class="testimonial-card__desc">
                “Laravel Cloud makes it easy to demo projects . I can deploy a fresh app in seconds. You only pay for what you use, letting you focus on business value instead of infrastructure. ”
            </p>
            <div class="testimonial-card__footer">
                <div class="testimonial-card__info">
                    <h6 class="testimonial-card__name">John Doe</h6>
                    <p class="testimonial-card__position">CEO, Laravel Cloud</p>
                </div>

            </div>

        </div>
    </div>
</div>