<div class="testimonial-slider__item">
    <div class="testimonial-card">
        <div class="testimonial-card__header">
            <div class="testimonial-card__header-inner">
                <div class="testimonial-card__thumb">
                    <img src="../../assets/images/reviewer/@@img" alt="thumb">
                </div>

                <div class="testimonial-card__info">
                    <h6 class="testimonial-card__name">John Doe</h6>
                    <p class="testimonial-card__position">CEO, Laravel Cloud</p>
                </div>
            </div>

            <span class="rate">
                <i class="fa-solid fa-star"></i>
                5.0
            </span>
        </div>


        <p class="testimonial-card__desc">
            @@desc
        </p>

    </div>
</div>