/* ======================  About-us Section Start  ======================*/
.about-us-section {
    .about-thumb {
        height: 100%;
        gap: 20px;
        display: flex;
        align-items: center;
        position: relative;

        @include md-screen {
            width: 100%;
        }

        &__img {
            height: 100%;
            border-radius: 10px;
            border-top-left-radius: 200px;
            border: 2px solid hsl(var(--base));
            overflow: hidden;




            @include md-screen {
                max-height: 350px;
                width: 100%;
                border-top-left-radius: 100px;
            }

            img {


                @include md-screen {
                    width: 100%;
                }

                height: 100%;
                object-fit: cover;
            }
        }

        &__overlay {
            position: absolute;
            bottom: -25px;
            left: -50px;

            @include md-screen {
                left: -10px;
            }

            @include sm-screen {
                left: -20px;

                transform: scale(0.9);
            }

            img {
                height: 145px;
            }
        }
    }
}


.about-list {
    display: flex;
    gap: 30px;
    text-align: left;

    @include md-screen {
        gap: 20px;
    }

    &:not(:last-of-type) {
        margin-bottom: 40px;
    }

    &__thumb {
        flex-shrink: 0;
        align-self: center;

        @include sm-screen {
            width: 48px;
            height: 48px;

        }
    }

    &__content {}



    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;


        @include sm-screen {
            margin-bottom: 5px;
            font-size: rem(22px);
        }

        @include msm-screen {
            font-size: rem(18px);
        }


    }

    &__desc {
        max-width: 425px;
        line-height: 1.3;
    }
}

/* ======================  About-us Section End  ======================*/