/* ======================  Contact-form Section Start  ======================*/
.contact-form-section {
    --thumb-gap: 12px;
}



.contact-input {
    padding: 32px;
    border-radius: 20px;
    background-color: hsl(var(--white));
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
    max-width: 648px;
    margin-inline: auto;

    @include xl-screen {
        padding: 25px;
    }

    @include md-screen {
        max-width: 100%;
    }

    @include sm-screen {
        padding: 25px;
    }

    @include msm-screen {
        padding: 20px;
        border-radius: 15px;
    }

    @include xsm-screen {
        padding: 15px;
        border-radius: 10px;
    }


    &__title {
        font-weight: 600;
        font-size: clampCal(24px, 32px);
        margin-bottom: 32px;

        @include msm-screen {
            margin-bottom: 18px;
        }
    }

    &__footer {
        margin-top: 14px;

        p {
            font-size: clampCal(14px, 16px);
        }

        i {
            line-height: 1.4;
            margin-inline-end: 4px;
        }
    }
}

.contact-information {
    .contact-title {
        color: #001124;
        font-size: clampCal(18px, 24px);
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__card {
        padding: 32px;
        border-radius: 8px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
        border: 1px solid hsl(var(--border));
        text-align: center;

        @include sm-screen {
            padding: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &-icon {
            --s: 70px;
            margin-bottom: 16px;
            width: var(--s);
            height: var(--s);
            display: flex;
            align-items: center;
            justify-content: center;
            background: hsl(var(--base)/0.08);
            border-radius: 50%;
            margin-inline: auto;
        }

        &-title {
            color: #001124;
            font-weight: 600;
            font-size: clampCal(18, 20px);
            margin-bottom: 8px;
        }


    }
}


/* ======================  Contact-form Section End  ======================*/
.map-show {
    iframe {
        border-radius: 16px;
    }
}



.contact {
    border-radius: var(--section-radius);
    background-color: hsl(var(--white));

    &-thumb {
        width: 100%;
        max-width: 636px;
        height: 100%;
        aspect-ratio: 1/0.9549549550;
        display: block;
        object-fit: cover;
        border-radius: 12px;
    }

    &-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__header {
            padding-bottom: 16px;
            border-bottom: 1px solid hsl(var(--border-color));
        }

        &__body {
            flex: 1 1 auto;
        }

        .btn {
            width: fit-content;

            @include msm-screen {
                padding: 15px 24px;

                &__icon {
                    --size: 40px;
                }

                &:has(.btn__icon:first-child) {
                    padding: 3px 20px 3px 3px;
                }

                &:has(.btn__icon:last-child) {
                    padding: 3px 3px 3px 20px;
                }
            }

        }
    }

    &-step {
        max-width: 380px;

        @include md-screen {
            max-width: 100%;
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 24px;

                @include lg-screen {
                    margin-bottom: 16px;
                }
            }

            &__header {
                display: flex;
                align-items: center;
                gap: 16px;
                padding-bottom: 16px;
                margin-bottom: 16px;
                border-bottom: 1px solid hsl(var(--border-color));

                @include lg-screen {
                    padding-bottom: 12px;
                    margin-bottom: 12px;
                }
            }

            &__icon {
                --size: 48px;
                width: var(--size);
                height: var(--size);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: hsl(var(--white));
                background-color: hsl(var(--base));

                @include lg-screen {
                    --size: 40px;
                }

                svg {
                    width: 50%;
                    height: 50%;
                }
            }

            &__content {
                flex-grow: 1;
            }

            &__desc {
                max-width: 100%;
                font-size: rem(18px);
                font-weight: 500;
                color: hsl(var(--dark)/0.8);

                @include lg-screen {
                    font-size: rem(16px);
                }
            }
        }
    }

    &-card {
        border: 1px solid hsl(var(--border-color));
        border-radius: 16px;
        padding: 32px;

        @include lg-screen {
            padding: 24px;
        }

        &>.row {
            --bs-gutter-x: 64px;

            @include lg-screen {
                --bs-gutter-x: 48px;
            }
        }

        &>.row>[class*="col-"] {
            &:first-child {
                position: relative;

                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    background-color: hsl(var(--border-color));

                    @include md-screen {
                        display: none;
                    }
                }
            }
        }
    }
}