/* ======================  Experience Section Start  ======================*/
.experience-section {

    .section-heading__title,
    .section-heading__desc {
        max-width: 100%;
    }

    .section-heading__title {
        @include lg-screen {
            font-size: 32px;
        }

        @include md-screen {
            font-size: 28px;
        }

        @include sm-screen {
            font-size: 24px;
        }

        @include xsm-screen {
            font-size: 22px;
        }
    }

    .about-img {
        width: 100%;

        img {
            height: 450px;
            border-radius: 12px;
            width: 100%;
            object-fit: cover;

            border-top-right-radius: 150px;
            border: 2px solid hsl(var(--base));

            @include xsm-screen {
                border-top-right-radius: 100px;
                max-height: 300px;
            }
        }
    }

    .author-info {
        display: flex;
        gap: 30px;

        img {
            width: 70px;
        }

        &__name {
            margin-bottom: 0;
        }
    }
}

/* ======================  Experience Section End  ======================*/