/* ======================  Story Section Start  ======================*/

.custom-cursor.show {
    opacity: 1;
}

.custom-cursor {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 9999px;
    opacity: 0;
    transform: translate(-9999px, -9999px);
    will-change: transform, opacity;
    transition: opacity .15s ease;
    background-color: hsl(var(--black)/0.2);
    width: 50px;
    height: 50px;
    color: hsl(var(--white));
    border-radius: 100%;
    backdrop-filter: blur(10px);
    cursor: none;

    &:hover {
        color: hsl(var(--white));
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid hsl(var(--white));
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transform: rotate(-45deg);

        svg {
            width: 25px;
        }
    }
}



.story-wrapper {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px;
    max-height: 650px;

    @include md-screen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 8px;

    }


    .div1 {
        grid-row: span 2 / span 2;

        @include md-screen {
            grid-row: span 2 / span 2;
            grid-column-start: 1;
            grid-row-start: 2;
        }
    }

    .div2 {
        grid-column: span 2 / span 2;

        @include md-screen {
            grid-column: span 2 / span 2;
            grid-column-start: 1;
            grid-row-start: 1;
        }

    }

    .div3 {
        grid-column-start: 2;
        grid-row-start: 2;

        @include md-screen {
            grid-row-start: 2;
        }
    }

    .div4 {
        grid-column-start: 3;
        grid-row-start: 2;

        @include md-screen {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: 1px solid hsl(var(--border-color)/0.2);

    }

    &__item {
        position: relative;
        overflow: hidden;



        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            transition: all 0.3s linear;
            backdrop-filter: blur(0px);

        }

        &:hover {
            &::before {
                height: 100%;
                opacity: 0.5;
                backdrop-filter: blur(2px);
            }
        }
    }

}




/* ======================  Story Section End  ======================*/