/* ======================  highlight-card Section Start  ======================*/
.highlight-card-section {
    background-repeat: no-repeat !important;
    background-size: 550px !important;
    background-position: bottom center !important;


    .highlight-card {
        display: flex;
        gap: 20px;
        border-radius: 16px;
        height: 100%;
        text-align: left;
        align-items: center;
        max-width: 375px;
        margin-left: auto;
        background-color: hsl(var(--white)/0.5);
        backdrop-filter: blur(10px);

        @include md-screen {
            text-align: left;
            padding: 12px;
            gap: 6px;
            flex-direction: row;
            margin-left: 0;
        }

        @include msm-screen {
            gap: 16px;
        }

        @include xsm-screen {
            gap: 10px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            gap: 56px;

            @include lg-screen {
                gap: 80px;
            }

            @include md-screen {
                gap: 30px;
            }

            @include sm-screen {
                gap: 24px;
            }

            @include msm-screen {
                gap: 18px;
            }

            @include xsm-screen {
                gap: 16px;
            }
        }


        &__thumb {
            --size: 55px;
            align-items: flex-start;
            flex-shrink: 0;
            height: var(--size);
            width: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            @include md-screen {
                --size: 45px;
            }


            @include sm-screen {
                --size: 35px;
            }

            @include msm-screen {
                --size: 45px;

            }

        }

        &__content {
            flex: 1 1 150px;
        }

        &__title {
            font-size: 24px;
            margin-bottom: 10px;
            padding-bottom: 2px;
            font-weight: 600;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 10%;
                height: 1px;
                background-color: hsl(var(--base));

            }

            ;

            @include lg-screen {
                font-size: 22px;
            }

            @include md-screen {
                font-size: 20px;
            }
        }

        &__desc {
            font-size: 16px;
            font-weight: 400;
            @include line-clamp(2)
        }

    }

    .highlight-thumb {
        position: relative;
        padding-inline: 15px;

        @include md-screen {
            display: none;
        }
    }

    .last-list {
        .highlight-card {
            text-align: right;
            flex-direction: row-reverse;
            margin-left: 0px;

            @include sm-screen {
                flex-direction: row;
            }

            &__title {
                text-align: right;

                @include sm-screen {
                    text-align: left;
                }


                &::before {
                    right: 0;
                    left: auto;

                    @include sm-screen {
                        left: 0;

                    }
                }
            }

            &__desc {
                text-align: right;

                @include sm-screen {
                    text-align: left;
                }
            }
        }
    }
}

/* ======================  highlight-card Section End  ======================*/