<!--========================== Banner Section Start ==========================-->
<section class="bg-img common-banner" data-background-image="assets/images/thumbs/bradcrumb.png">
    <div class="container">
        <div class="common-banner__content">
            <h1 class="common-banner__title">
                @@title
            </h1>
            <p class="common-banner__desc">
                @@desc
            </p>
        </div>
    </div>
</section>
<!--========================== Banner Section End ==========================-->