<!--==================== Preloader Start ====================-->
<div class="preloader">
    <div class=" loader">
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
        <div class="circle">
            <div class="dot"></div>
            <div class="outline"></div>
        </div>
    </div>
    <h3 class="mb-0 mt-2">Loading...</h3>
</div>
<!--==================== Preloader End ====================-->