<!-- Jquery js -->
<script src="assets/js/jquery-3.7.1.min.js"></script>
<!-- Bootstrap Bundle Js -->
<script src="assets/js/boostrap.bundle.min.js"></script>
<!-- Slick js -->
<script src="assets/js/slick.min.js"></script>
<!-- Odometer js -->
<script src="assets/js/odometer.min.js"></script>
<script src="assets/js/viewport.jquery.js"></script>
<script src="assets/js/select2.min.js"></script>
<script src="assets/js/fancybox.umd.js"></script>
<script src="assets/js/apexcharts.js"></script>
<script src="assets/js/flatpickr.js"></script>
<script src="assets/js/aos.js"></script>

<!-- main js -->
<script src="assets/js/main.js"></script>
</body>

</html>