/* =========================================== Account Css Start =========================*/
.account {
  display: flex;
  min-height: 100dvh;
  position: relative;

  .testimonial-card {
    background: hsl(var(--white)/0.15);
    backdrop-filter: blur(10px);

    &__desc {
      background-color: transparent;
    }
  }


  .slick-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li:not(.slick-active) button {
    background: hsl(var(--white)) !important;
  }



  .account-left {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    * {
      color: hsl(var(--white));
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;

      z-index: -2;
      background-color: hsl(var(--black) / 0.5);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url('../images/thumbs/account-shape.png');
      z-index: -2;
      background-repeat: no-repeat;
      background-size: left top;
    }

    .account-thumb__content {
      padding: 30px;
      flex: 1;

      .logo {
        margin-bottom: 16px;
      }
    }

    .account-thumb__content-desc {
      font-size: clamp(1.375rem, -0.1394rem + 2.445vw, 2rem);
      font-weight: 600;
      line-height: 1.3;
      position: relative;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      margin-bottom: 0;
    }

    .account-thumb__content-desc::before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: calc(100% + 20px);
      width: 239px;
      height: 3px;
      background-color: hsl(var(--white));
    }

    .account-thumb__content-title {
      max-width: 620px;
      font-size: clamp(2rem, -0.423rem + 3.912vw, 3rem);
      font-weight: 800;
      line-height: 1.15;
      margin-top: 12px;
    }

    &__thumb {
      position: absolute;
      inset: 0;
      z-index: -3;


      video {
        max-height: 950px;
        height: 100%;
        width: 100%;
        object-fit: cover;

      }
    }

    &__slider {
      padding-inline: 45px;
      padding-bottom: 45px;

      .testimonial-card {
        gap: 30px
      }

      .testimonial-card__thumb {
        --s: 200px;
      }

      .testimonial-card__desc {
        font-size: 22px;
      }

      .testimonial-card__thumb .quote-icon {
        --s: 50px;
        color: hsl(var(--black));
        background-color: hsl(var(--white)/0.235);
        backdrop-filter: blur(10px);
      }

      .testimonial-card__thumb .quote-icon svg {
        width: 32px;
      }

      .testimonial-card__header .time {
        padding-left: 0px;
      }


      .testimonial-card__header {
        gap: 10px;

      }

      .testimonial-card__header .rate {
        background: hsl(var(--white)/0.235);
        backdrop-filter: blur(10px);
      }

      .testimonial-card__desc {
        margin-bottom: 25px;
      }
    }

    &__slider-bottom {
      transform: rotate(180deg);

      .slider-card {
        transform: rotate(180deg);

      }
    }

  }
}

.account-content {
  flex: 1;
  padding: 20px;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: 480px;

    @media screen and (max-width:445px) {
      width: 100%;

    }
  }

  .logo {
    margin-bottom: 16px;

    @include sm-screen {
      margin-bottom: 20px;
    }
  }

  .content {
    margin-bottom: 24px;
  }

  &__title {
    color: #001124;
    font-size: rem(45px);
    font-weight: 500;
    line-height: 1.16;
    margin-bottom: 12px;
  }

  &__desc {
    color: #536274;
    font-weight: 500;
    font-size: 18px;
  }

  .form--label {
    color: #001124;
    font-weight: 500;
    margin-bottom: 8px;
  }



  .or {
    position: relative;
    margin-block: 16px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 33%;
      height: 1px;
      background-color: hsl(var(--border-color));
    }

    &::after {
      left: 0;
    }
  }
}


.account-form__logins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .account-form__logins {
    gap: 16px;
  }
}

@media screen and (max-width: 575px) {
  .account-form__logins {
    gap: 10px;
  }
}

@media screen and (max-width: 991px) {
  .account-form__logins {
    margin-top: 20px;
  }
}

.account-form__logins:has(a:nth-child(2)) .account-form__logins-item .continue {
  display: none;
}

.account-form__logins:has(a:nth-child(2)) .account-form__logins-item img {
  padding-right: 10px;
}

.account-form__logins:has(a:nth-child(3)) .account-form__logins-item .text {
  display: none;
}

.account-form__logins:has(a:nth-child(3)) .account-form__logins-item img {
  padding-right: 0;
}

.account-form__logins-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  border-radius: 12px;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.54);
  font-size: clamp(1rem, 0.6971rem + 0.489vw, 1.125rem);
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.account-form__logins-item:hover {
  -webkit-box-shadow: 0 0 4px 0 hsl(var(--base)/0.4), 0 4px 8px 0 hsl(var(--base)/0.6);
  box-shadow: 0 0 4px 0 hsl(var(--base)/0.4), 0 4px 8px 0 hsl(var(--base)/0.6);
}

.account-form__logins-item img {
  padding-right: 15px;
}

.have-account__text a {
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }

}

/* ============================================ Account Css End ====================================*/