/* =========================== Accordion Css start ============================= */
.custom--accordion {
  --p: 24px;

  @include sm-screen {
    --p: 18px;
  }

  .accordion-item {
    background-color: transparent !important;
    border-radius: 12px;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.3s ease;
    outline: 1px solid hsl(var(--base));

    &:has([aria-expanded="true"]) {
      box-shadow: 2px 2px 0 2px hsl(var(--base));
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .accordion-button {
      padding: var(--p);
      padding-right: calc(var(--p) + 22px) !important;
    }
  }

  .accordion-header {
    line-height: 1;
    color: hsl(var(--neutral-900));
    font-size: clampCal(16px, 18px);
    font-weight: 500;
  }

  .accordion-body {
    padding: var(--p);
    padding-top: 0;
    // background-color: var(--base-50);
    color: hsl(var(--neutral-700));
    font-weight: 400;

    .text {
      max-width: 60%;

      @include msm-screen {
        max-width: 100%;
      }
    }
  }

  &:first-of-type .accordion-button.collapsed {
    border-radius: 5px;
  }

  &:last-of-type .accordion-button.collapsed {
    border-radius: 5px;
  }

  .accordion-button {
    // background-color: var(--base-50);
    background-color: transparent;
    @include fs-18;
    padding: 15px;
    font-weight: 700;

    @include msm-screen {
      padding: 13px;
      padding-right: 30px;
    }

    &::after {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: hsl(var(--neutral-900));
      // background-color: var(--base-50) !important;
      background-color: transparent !important;
      box-shadow: none;

      &::after {
        background-image: none;
        color: hsl(var(--base));
      }
    }

    &[aria-expanded='true'],
    &[aria-expanded='false'] {
      &::after {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        content: '\f068';
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        font-size: 14px;
        height: unset;
        background-color: hsl(var(--base));
        color: hsl(var(--white));
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
      }
    }

    &[aria-expanded='false'] {
      &::after {
        content: '\f067';
      }
    }
  }
}

/* ================================= Accordion Css End =========================== */